<div style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;min-height:100vh'>
{{ partial "header.html" . }}

{{ partial "preloader.html" . }}
 
<div style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;'>

{{ partial "navigation.html" . }}
{{ partial "secret.html" . }}
{{ partial "map.html" . }}
{{ partial "0.html" . }}
{{ partial "1.html" . }}
{{ partial "2.html" . }}
{{ partial "3.html" . }}
{{ partial "4.html" . }}
{{ partial "5.html" . }}
{{ partial "6.html" . }}
{{ partial "space.html" . }}


</div>

{{ partial "footer.html" . }}
</div>