<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-0" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none;'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#45274b">S</span>uperbia (Pride)</h1>
        <p>
    
        Pride has sometimes been called the father of all sins, as well as the source of the other capital (deadly) sins, and is usually considered the most serious of the seven deadly sins, reading first on almost every list. It is defined as corrupt selfishness, or putting one's own desires and wants over the welfare of others.

        <br/><br/>

        An associated sin, listed separately before Pope Gregory folded it into Pride in his listing of the cardinal sins, is Vainglory. Vainglory is defined as the inordinate desire to receive praise and to manfest one's own excellence. When St. Thomas listed the 7 capital sins, he replaced Pride with Vainglory to highlight that Pride is the source of all sin without exception. However, the concepts can be nearly synonymous.

        <br/><br/>

        Often, Pride can breed contempt, either of God's commandments or of one's peers; Pride is often thought of as the "anti-God" state. As St. John Vianney taught, "Pride makes us hate our equals because they are our equals; our inferiors from the fear that they may equal us; our superiors because they are above us."

        <br/><br/>

        Pride becomes a sin when one takes credit for one's work instead of thanking God for helping one achieve. Not all pride is sinful, but it becomes so when one fails to recognize that everything is received, and that each person could only have what they have because of God.

        <br/><br/>

        A sinfully prideful action at its root comes from the thought that one wishes to be God, and Pride taken to the fullest extent is precisely this; Satan became Satan via believing that he[NOTE: What are Satan's pronouns?] could overthrow God, and in fact he says in Isaiah 14:14, "I will ascend above the heights of the clouds; I will be like the most High," or even as several modern translations read, "I will be like the Most High."

</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>