<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-1" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none;'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#679950">A</span>varitia (Greed)</h1>
        <p>
    Welcome to Hell! Right this way, just pop into this hot tub, will you? Thanks! Oh, did I mention it is filled with oil?

<br/><br/>

    That's right folks, your punishment in Hell for being greedy is being boiled alive in oil! At least according to the Canterbury Tales, that is. In Dante's Purgatory, there is a description of penitents being bound and laid face down on the ground as a punishment for greed instead. Greed is often paired with disloyalty, or is sometimes defined as disloyalty or treason for the purposes of a strong desire to gain money or power.

    <br/><br/>

    Greed is often seen as just the desire for material possesions, but the Church also applies this label to an artificial desire to take by force, allowing both hoarding of objects as well as theft, robbery, and other trickery to fall under this sin, or to be inspired by this sin.
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>