<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-1" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none;'>
    <div class="container" style="text-align: center;">
        <h1>Avaritia</h1>
        <p>
    Itaque hic veniam veniam nemo iure maxime commodi enim. Porro vel quaerat ipsam laborum rerum dolorem velit rem. Harum omnis consequatur iusto inventore mollitia consectetur.

    Vitae quo soluta ipsum alias totam sunt maxime. Ducimus voluptatem cum repudiandae nihil aut quidem. Nostrum sint dicta laboriosam praesentium laudantium blanditiis ipsa quidem. Dolorem error modi id sequi modi sapiente expedita. Omnis maxime commodi nisi. Illum suscipit qui commodi.

    Molestiae ipsam quia quis qui placeat repellendus. Non aut qui qui doloribus dignissimos doloribus reprehenderit odio. Et necessitatibus in enim labore a. Sit iure sequi expedita adipisci.

    Et dignissimos nisi et quis ea. In aut quia et. Non accusantium numquam consequatur. Fugit aut qui non nihil.

    Facere saepe et sapiente. Molestiae ullam laudantium nulla tenetur aperiam. Et ipsam enim quis molestiae est sunt cupiditate repellendus. Alias officia aliquam quo quas consequatur qui. Quia omnis impedit ipsa. Accusantium eligendi in autem rem qui.
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>