<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-2" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#851e00;font-variant-ligatures: none;font-feature-settings: 'liga' 0;">L</span>uxuria (Lust)</h1>
        <p>
    Lust usually refers to intense sexual desire, but can be defined as either intense longing or unbridled desires of other forms, including for money and power. It is seen as the least serious capital sin, as sins of the flesh are less grevious than spiritual sins. Dante defined lust as disordered love for others. Lust becomes a sin when love for others becomes excessive, detracting from love of God.

    <br/><br/>

    Often the symptoms of lust, and the sins committed due to lust, are seen as defining lust itself, for example rape and bestiality. However, lust in and of itself is also a sin, as we see in Matthew 5:27-28, "That whosoever looketh on a woman to lust after her hath committed adultery with her already in his heart."

    <br/><br/>

    The word used for lust in the Bible, though in English-speaking countries it is usually associated with sexual desire, actually has no sexual connotations in the original Hebrew, and the same word is used when describing the impermissibility of coveting of one's neighbor's house or field.
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>