<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-3" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#154911;font-variant-ligatures: none;font-feature-settings: 'liga' 0;">I</span>nvidia (Envy)</h1>
        <p>
    Envy, like many of the other deadly sins, is characterised by insatiable desire. What sets it apart from the rest is that what is being coveted in this case are the traits or possessions of someone else. Dante defines envy as "a desire to deprive other men of theirs". It is linked with jealousy, and arises from vainglory. It also has a component of joy at another's misfortune, even if one does not lift oneself higher in the process.

<br/><br/>

    Envy is the second most potent capital sin, after only Pride. It is linked with the dog, and with the colour green.

<br/><br/>

    Envy derives from "invidre" in Latin, meaning "malice" or "spite". Despite the closeness of the meanings, envy differs from jealousy in that jealousy is defined to be a protectiveness of something one has a claim over, whereas envy is the desire for something belonging to another, over which one has no claim.
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>