<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-4" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#8f512b">G</span>ula (Gluttony)</h1><!--edcdbf-->
        <p>
    Gluttony refers to over-indulgence and over-consumption of food, drink and status symbols. In Christianity, the excessive desire for food at the expense of the needy constitutes a sin.

<br/><br/>

    Gluttony was defined by Church leaders in the Middle Ages exclusively with food. St. Thomas Aquinas enumerated 5 ways to commit gluttony, namely eating food that is too exotic, excessive in quality, excessive in quantity, too eagerly, or at an inappropriate time.

    <br/><br/>

    Pope Gregory I listed 5 very similar criteria as well, and noted that taking food too eagerly, even without any of the remaining four criteria, was the most sinful as it was most directly attached to pleasure.

    <br/><br/>

    St. Adolphus Liguori stated that it is only a sin to eat for the sole purpose of pleasure, and without any other object; therefore, eating high quality food is not in fact sinful so long as it is being consumed with a motive that is "good and worthy of a rational creature".
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>