<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-5" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#5d1819">I</span>ra (Wrath)</h1>
        <p>
    Wrath is defined as uncontrolled feelings of anger, rage, and hatred. The act of anger itself is neutral, but it becomes sinful when it is dircted at an innocent person, unduly strong or long-lasting, or desires excessive punishment.

    <br/>
    <br/>

    Wrath becomes a mortal sin when it results in desiring that a person befall grave harm, though it becomes a sin when it involves desiring that someone befall misfortune. In particular, Wrath is a sin because a human dispenses of reason and fails to leave the wrath of God serve as retribution for perceived mistreatment by others.

    <br/>
    <br/>

    St. Thomas Aquinas defined anger as a passion, and declared that it is evil when it sets aside reason, whereas it is in fact good when regulated by reason. In particular, wrath becomes a sin when it causes one to be consumed by rage and revenge, and guided by emotions.

<br/>
<br/>
<br/>
<br/>
    </div>
</section>