<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->
<section class="s-6" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1><span style="color:#21386c">A</span>cedia (Sloth)</h1>
        <p>
    Acedia is a state of listlessness and torpor, and inert state without care. The sin of Acedia in the present is the sin of Sloth, though there are some differences between the present and past meanings of the sin.

    <br/>
<br/>

Unlike the other capital sins, Sloth is a sin due to ignoring the gifts of grace given by the Holy Ghost, and to neglect manifold duties. It can spawn from other capital sins, for example anger can cause one to omit duties. In Dante's Purgatory, the slothful continuously run to purge themselves of the sin.

<br/>
<br/>

The present meaning of Sloth is of laziness, however in antiquity, it was understood that this laziness originated from acedia, an apathy or indifference. Pope Gregory the Great combined the sins of Acedia and Despair in his reform of the list of 7 sins and listed it as Acedia, and in the intervening years Acedia was translated to Sloth and the word dropped from the modern English language, to form the form of the seven sins that survives to the present day.
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>