<!--<style>
    .asfddsa p{
        color: {{ .Scratch.Get "textcolor" }};
    }
</style>-->

<style>
    h1{
        font-variant-ligatures: none !important;
        font-feature-settings: "liga" 0 !important;
        -webkit-text-stroke: 0.2px white;
    }
</style>

<section class="s-7" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;display:none'>
    <div class="container" style="text-align: center;">
        <h1 style="font-variant-ligatures: none !important;font-feature-settings: 'liga' 0 !important;"><span style="color:#45274b;font-variant-ligatures: none;font-feature-settings: 'liga' 0;">S</span><span style="color:#679950">A</span><span style="color:#851e00;font-variant-ligatures: none;font-feature-settings: 'liga' 0;">L</span><span style="color:#154911;font-variant-ligatures: none;font-feature-settings: 'liga' 0;">I</span><span style="color:#8f512b">G</span><span style="color:#5d1819">I</span><span style="color:#21386c">A</span></h1>
        <p>
    The acronym "SALIGIA" was coined in the Middle Ages by the Catholic Church as a mnemonic, due to the religious crisis at the time, to drive home the danger of the seven deadly sins.

<br/>
<br/>

    Congratulations on completing this minigame! You've now found all of the QR codes, and have a good rest of the night (or morning, as applicable)!
</p>
<br/>
<br/>
<br/>
<br/>
    </div>
</section>