{{ if .Site.Params.access.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="{{ i18n "about" | urlize }}2" class="section about bg-gray" style="background-color: {{ .Scratch.Get "color" }};">
            <style>
        .buni p{
            color: {{ .Scratch.Get "textcolor" }};
        }
    </style>
        <div class="container buni">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft" style="width:100%">
                    <center>
                    <div class="content">
                        <div class="sub-heading">
                            <h2 style="font-family:inherit;color:{{ .Scratch.Get "headingcolor" }};font-size:28pt">{{ .Site.Params.access.heading }}</h2>
                        </div>
                        <br/>
                            <p>We warmly welcome people with disabilities.</p>
                            <br/>
                            <p>There is wheelchair access to all areas except the underbar (which is accessed via a flight of stairs), and the senior parlour, which is accessed through a 70cm wide door. The main entertainment is wheelchair accessible. There is basic seating, an accessible toilet, a gender neutral toilet, and a hearing loop. This isn't a BSL interpreter, a designated quiet space, general car parking, or blue badge parking.</p>
                            <br/>
                            <p>For any further accessibility enquires please contact <a href = "mailto:mayball.operations@cai.cam.ac.uk">our Operations officer.</a></p>
                        </div>
                </div>
            </center>
            </div>
        </div>
    </section>
{{ end }}