{{ if .Site.Params.access.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="{{ i18n "about" | urlize }}2" class="section about bg-gray" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft" style="width:100%">
                    <center>
                    <div class="content">
                        <div class="sub-heading">
                        {{ with .Site.Params.access.heading }}
                            <h2 style="font-family:inherit;font-size:28pt">{{ . }}</h2>
                        {{ end }}
                        </div>
                        <br/>
                            <p>We warmly welcome people with disabilities.</p>
                            <br/>
                            <p>There is wheelchair access. There is basic seating, an accessible toilet, a gender neutral toilet, and a hearing loop. This isn't a BSL interpreter, general car parking, or blue badge parking. There isn't a designated quiet space, although the Chapel is designated as a chill-out area, with less noise and visual stimulation.</p>
                            <br/>
                            <p>Please note that the entrance to the Senior Parlour is only 0.7 metres wide, and may therefore present difficulties to attendees requiring a wheelchair - although this is one of many rooms being used for the Ball, and the others are all accessible.</p>
                            <br/>
                            <p>For any further accessibility enquires please contact <a href = "mailto:mayball.operations@cai.cam.ac.uk">our Operations officer.</a></p>
                        </div>
                </div>
            </center>
            </div>
        </div>
    </section>
{{ end }}