{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <!--<section class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >-->
        <span id = "call-to-action" style="position:absolute; bottom:-42cm"></span>
        <section class="call-to-action" style='background-color:#2c5530;'>
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <a href="https://business.facebook.com/CaiusMayBall"><img src = "images/fb.png" style="height:40px"/></a> <a href="https://www.instagram.com/caiusmayball2022"><img src = "images/ig.png" style="height:40px"/></a>
                    <div class="block">
                        {{ with .Site.Params.cta.title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ with .Site.Params.cta.subtitle }}
                            <p>{{ . }}<a href='mailto:mayball.secretary@cai.cam.ac.uk'>the Secretary</a>.</p>
                        {{ end }}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}