{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <!--<section class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >-->
        <span id = "call-to-action" style="position:absolute; bottom:-42cm"></span>
        <section class="call-to-action" style="background-color: #e9e598;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    We are proud this year to be sponsoring Jimmy's Cambridge, a local charity that helps the homeless.
                    <br/>
                    <img src="/images/jimmys.png">
                </div>
            </div>
        </div>
    </section>
{{ end }}