{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <!--<section class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >-->
        <span id = "call-to-action" style="position:absolute; bottom:-42cm"></span>
        <section class="call-to-action" style="background-color: #aec1c3;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    The Gonville and Caius May Ball 2022 is proud to be partnering with Jimmy’s Cambridge. Jimmy’s is a local charity working to combat homelessness with initiatives such as modular homes and the Controlled Drinking Project. Find out more about the crucial work that Jimmy’s does, and how you can get involved at their website: <a href="http://www.jimmyscambridge.org.uk">http://www.jimmyscambridge.org.uk</a>
                    <br/>
                    <img src="/images/jimmys.png">
                </div>
            </div>
        </div>
    </section>
{{ end }}