{{ if .Site.Params.contact.enable }}
    {{"<!-- Contact Section -->" | safeHTML}}
    <span id = "contact" style="position:absolute; bottom:-47cm"></span>
    <section class="section contact" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="block">
                        <div class="heading wow fadeInUp">
                            {{ with .Site.Params.contact.title }}
                            <h2>{{ . }}</h2>
                            {{ end }}
                            {{ with .Site.Params.contact.subtitle }}
                                <p style="font-family:inherit">{{ . }}<a href="/vendor"> click here</a>.</p>
                            {{ end }}
                            {{ with .Site.Params.contact.subtitle2 }}
                                <p style="font-family:inherit">{{ . }}<a href="/sponsor">click here</a>.</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
