{{ if .Site.Params.contactspon.enable }}
    {{"<!-- Contact Section -->" | safeHTML}}
    <section id="{{ i18n "contact" | urlize }}" class="section contact" style="background-color: #dce4e5;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="block bottom-space">
                        <div class="heading wow fadeInUp"  style="top:20px;position:relative">
                            {{ with .Site.Params.contactspon.title }}
                            <h2>{{ . }}</h2>
                            {{ end }}
                            {{ range .Site.Params.contactspon.stline }}
                                <p style="font-family:inherit;font-weight: {{ .bold }};font-size:{{ .size }};color: #525252">{{ .line }}</p>
                                <br/>
                            {{ end }}
                            {{ with .Site.Params.contactspon.subtitle }}
                                <p style="font-family:inherit">{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                    <div class="form-group">
                        <form action="#" method="POST" data-netlify="true" name="sponsor">
                            <div class="input-field">
                                <input type="text" class="form-control" placeholder="Company Name" name="name">
                            </div>
                            <div class="input-field">
                                <input type="text" class="form-control" placeholder="Responder Name" name="name">
                            </div>
                            <div class="input-field">
                                <input type="email" class="form-control" placeholder="Contact Email" name="email">
                            </div>
                            <div class="input-field">
                                <textarea class="form-control" placeholder="Your Message" rows="3" name="message"></textarea>
                            </div>
                            <button class="btn btn-send" type="submit">{{ i18n `submit` }}</button>
                        </form>

                        <div id="success">
                            <p>{{ i18n "contactMessageSuccess" }}</p>
                        </div>
                        <div id="error">
                            <p>{{ i18n "contactMessageError" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
