<!--<div style="height:2000px;width:2000px;background-image: url(../images/Siteplan.png);">
<div style="position:relative">
<img class = "p-0" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fpush-pin-clipart-transparent-background%2Fpush-pin-clipart-transparent-background-11.png&f=1&nofb=1" style="max-height: 200px">
<div class = "p-0" style="position:absolute;left:60px;top:40px;"></div>
</div>
</div>-->

<div style="background-image: url(../images/Siteplan.png);
   background-repeat:no-repeat;
   background-size:80vw;margin-left:10%;position:relative">

<!--TODO: Make everything in terms of vw-->



<div class="m-0" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-0" src='/images/programme-purple.png' style="width: 42vw;display:none;"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-0" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;color:#e19700;display:none"></div>
</div>
<div class="m-1" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-1" src='/images/programme-yellow.png' style="width: 38vw;display:none;">
<img class="i2-1" src='/images/programme-yellow-2.png' style="width: 38vw;display:none;"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-1" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:#e19700;display:none"></div>
</div>
<div class="m-2" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-2" src='/images/programme-pink.png' style="width: 38vw;display:none">
<img class="i2-2" src='/images/programme-pink-2.png' style="width: 37vw;display:none"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-2" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:black;display:none"></div>
</div>
<div class="m-3" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-3" src='/images/programme-green.png' style="width: 38vw;display:none"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-3" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:black;display:none"></div>
</div>
<div class="m-4" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-4" src='/images/programme-orange.png' style="width: 37vw;display:none"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-4" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:black;display:none"></div>
</div>
<div class="m-5" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-5" src='/images/programme-red.png' style="width: 42vw;display:none"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-5" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:black;display:none"></div>
</div>
<div class="m-6" style="position:absolute;left:0%;top:0%;display:block">
<!--<img class="p-0" src='url(../images/Siteplan.png)' style="width: 7vw; bottom: 30%; left: 20%">-->
<img class="i-6" src='/images/programme-blue.png' style="width: 42vw;display:none"> <!--This is a hacky workaround, try and figure out why the url() isn't working-->
<div class="i-6" style="position:absolute;left:0.41vw;top:0.8vw;font-size: 0.47vw;line-height: 1vw;width: 6vw;text-color:black;display:none"></div>
</div>

<img src="url(../images/Siteplan.png)" style="visibility:hidden;width:80vw;height:auto">
</div>