<!--<div style="height:2000px;width:2000px;background-image: url(../images/Siteplan.png);">
<div style="position:relative">
<img class = "p-0" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fpush-pin-clipart-transparent-background%2Fpush-pin-clipart-transparent-background-11.png&f=1&nofb=1" style="max-height: 200px">
<div class = "p-0" style="position:absolute;left:60px;top:40px;"></div>
</div>
</div>-->

<div style="background-image: url(../images/Siteplan.png);
   background-repeat:no-repeat;
   background-size:50vw;width:50vw;margin-left:25%">

<div style="position:absolute;left:30%;top:50%">
<img class="p-0" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fpush-pin-clipart-transparent-background%2Fpush-pin-clipart-transparent-background-11.png&amp;f=1&amp;nofb=1" style="max-height: 100px; bottom: 30%; left: 20%">
<div class="p-0" style="position:absolute;left:35px;top:13px;font-size: 4pt">Superbia at <br style="line-height:5%;"> The Plodge</div>
</div>
<img src="url(../images/Siteplan.png)" style="visibility:hidden;width:50vw;height:auto">
</div>