<!--<div style="height:2000px;width:2000px;background-image: url(../images/Siteplan.png);">
<div style="position:relative">
<img class = "p-0" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fpush-pin-clipart-transparent-background%2Fpush-pin-clipart-transparent-background-11.png&f=1&nofb=1" style="max-height: 200px">
<div class = "p-0" style="position:absolute;left:60px;top:40px;"></div>
</div>
</div>-->

<div style="background-image: url(../images/Siteplan.png);
   background-repeat:no-repeat;
   background-size:80vw;width:80vw;margin-left:10%;position:relative">

<!--TODO: Make everything in terms of vw-->

<div style="position:absolute;left:0%;top:0%">
<img class="p-0" src='url(../images/Siteplan.png)' style="max-width: 7vw; bottom: 30%; left: 20%">
<div class="p-0" style="position:absolute;left:3.8vh;top:2.4vh;font-size: 1.2vh;line-height: 2vh;max-width: 6vw;text-color:black"><p style="text-color:black">Superbia at <br style="line-height:5%;"> The Plodge</p></div>
</div>
<img src="url(../images/Siteplan.png)" style="visibility:hidden;width:80vw;height:auto">
</div>