<div class="container" style="background-color:#ffffff">
    <nav class="navbar navbar-fixed-top   normal-nav" id="top-nav" style="background-color:#ffffff">
        
        <div class="" id="" >
            <ul class="nav navbar-nav menu" id="top-nav">
                <li class="nav-item active" style="float:left">
                    <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "home" | urlize }}">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                </li>
 
                     <li class="nav-item" style="float:left">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/index.html#{{ i18n "about" | urlize }}">
                            {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                        </a>
                    </li>
                
                    <li class="nav-item" style="float:left; margin-right: 0px;">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/tickets">
                            Tickets
                        </a>
                    </li>
                
                    <li class="nav-item" style="float:left; margin-right: 0px;">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/sponsor">
                            Sponsorship
                        </a>
                    </li>
                
                    <li class="nav-item active" style="float:right">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/recruit">
                            Recruitment
                        </a>
                    </li>
                
                    <li class="nav-item" style="float:right; margin-right: 0px;">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}#call-to-action">
                            {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
                        </a>
                    </li>
                
                    <li class="nav-item active" style="float:right">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/committee">
                            {{ with .Site.Params.navigation.service }} {{ . }} {{ end }}
                        </a>
                    </li>
                
                    <li class="nav-item" style="float:right">
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/vendor">
                            Vendors
                        </a>
                    </li>


                <!--<a class="navbar-brand float-none" style="margin: auto; margin-right: auto; width:  150px; margin-left: auto;  display:block;" href="{{ .Site.BaseURL }}">-->
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-fixed-top  mobile-nav" id="top-nav" style="visibility: visible;background-color:#ffffff">
        
                <svg viewBox="0 0 100 80" width="40" height="40" class="hmbgrbtn">
              <rect width="100" height="20" fill="#aec1c3"></rect>
              <rect y="30" width="100" height="20" fill="#aec1c3"></rect>
              <rect y="60" width="100" height="20" fill="#aec1c3"></rect>
            </svg>
                <!--<center style="position:absolute; margin:auto;left: 0; right: 0; margin-left: auto; margin-right: auto; width: 150px;top: 60px"><a class="navbar-brand float-none" style="margin: auto; margin-right: auto; width:  150px; margin-left: auto;  display:block;" href="{{ .Site.BaseURL }}">
                {{ with .Site.Params.navigation.logo }}
                <img src="{{ . }}" alt="logo" style="width: 150px; margin-right: auto; margin-left: auto; display: block;">
                {{ end }}
                </a></center>-->

            <ul class="nav navbar-nav menu-list vertical-menu" id="top-nav" style="display:none;background-color:white;width:100%">
                <center><li style="background-color:white">
                    <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "home" | urlize }}">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                </li></center>

                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}#{{ i18n "about" | urlize }}">
                            {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                        </a>
                    </li></center>
                
                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/tickets">
                            Tickets
                        </a>
                    </li></center>
               
                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/sponsor">
                            Sponsorship
                        </a>
                    </li></center>
               
                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/recruit">
                            Recruitment
                        </a>
                    </li></center>
                
                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}#call-to-action">
                            {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
                        </a>
                    </li></center>

                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/committee">
                            {{ with .Site.Params.navigation.service }} {{ . }} {{ end }}
                        </a>
                    </li></center>
                
                    <center><li>
                        <a style="color:#aec1c3" class="nav-link" href="{{ .Site.BaseURL }}/vendor">
                            Vendors
                        </a>
                    </li></center>



                <!--<p style="color:#8aaa79; font-family = themefisher-font">Gonville and Caius May Ball 2021</p>-->
                </a>
            </ul>
        </div>
    </nav>
</div>
