{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <span id = "about" style="position:absolute; bottom: 5cm"></span>
    <section class="section about bg-gray" style="background-color: #dce4e5;">
        <div class="container">
            <div class="row">
                <div class="block bottom-space">
                <center><div class="col-sm-12 wow fadeInLeft" style="top:20px;position:relative">
                    <div class="content">
                        <div class="sub-heading">
                        </div>
                            <!--<p>More information about tickets will be coming soon!</p>-->
                    </div>
                    <!--<script src="https://web-cdn.fixr.co/scripts/fixr-shop-widget.v1.min.js" data-fixr-shop-id="34f880c1-fe44-4f99-8930-d1a33c34343d" data-fixr-theme="light"></script>-->
                </div></center>
            </div>
        </div>


<div class="text-center">
    <h2 style="font-size:30pt;margin-top: 40px;margin-bottom:20px">Purchase tickets</h2>
    <br/>
  </div>
  <section style="width:90%">



  </section>
{{ end }}