{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <span id = "about" style="position:absolute; bottom: 5cm"></span>
    <section class="section about bg-gray" style="background-color: {{.Site.Params.bgcolournewpages}};">
        <div class="container">
            <div class="row">
                <div class="block bottom-space">
                <center><div class="col-sm-12 wow fadeInLeft"  style="top:20px;position:relative">
                    <div class="content">
                        <div class="sub-heading">
                            <h3 style="font-family:inherit;color:#e19700">RECRUITMENT</h3>
                        </div>
                            <p>Worker applications are open! To apply, just fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9iRyIR7zUzsXNugjZC-ZM7FAUw6Ye7UouQTKFzYjDwysOcQ/viewform">this Google Form.</a></p>
                    </div>
                </div></center>
            </div>
        </div>
    </section>
{{ end }}