<script>
    function setCookie(name,value,days) {
    value = JSON.stringify(JSON.stringify(value))
    console.log(value)
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
</script>

<section class="section about bg-gray" style='background-position: right 0;background-repeat: no-repeat;background-image: url("{{ with .Site.Params.hero.bg }} {{ . }}{{ end }}");background-repeat: no-repeat;background-attachment:fixed;margin-top:-100px'>
    <div class="container" style="min-height:100%">
        <div class="row">
            <div class="block bottom-space" >
            <center><div class="col-sm-12 wow fadeInLeft"  style="top:20px;position:relative">
                <div class="content">
                    <div class="sub-heading">
                        <h1 style="font-family:inherit;color:#e19700">The Art of Sin-Collecting</h1>
                    </div>
                        <p>Congrats on finding this page! If you've managed to make your way here, you've managed to collect at least one sin. You can see the locations of found sins on the map below, as well as details on the sins in which you've partaken. See if you can collect them all before the moon sets on Saligia! </p>

                        <br/>

                        <p>If you want to return to this page, be sure to save this url: <a href = "https://tinyurl.com/4wa9t7c8">https://tinyurl.com/4wa9t7c8</a></p>

                        <br/>

                        <p>If you want to reset your progress for any reason, click the button below:</p>
                        <br/>
                        <button onclick="if(window.confirm('Are you sure? You\'ll have to find all of the QR codes again!')){setCookie('found', [], 2);window.location.assign('?found=\'\'')}">Get A Pardon For Your Sins</button>
                </div>
            </div></center>
        </div>
    </div>
</section>