<!--
        <style>
    p{
        color: #1F2A31!important;
    }
    ul{
        color: #1F2A31!important;
    }
    li{
        color: #1F2A31!important;
    }
    h3{
        color: #1F2A31!important;
    }
    h2{
        color: #1F2A31!important;
    }
    a:link {
  color: #1F2A31;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #1F2A31;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #1F2A31;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #1F2A31;
  background-color: transparent;
  text-decoration: underline;
}
    </style>-->

            <style>
    p{
        color: #e19700!important;
    }
    ul{
        color: #e19700!important;
    }
    li{
        color: #e19700!important;
    }
    h3{
        color: #e19700!important;
    }
    h2{
        color: #e19700!important;
    }
    a{
        color:  #e19700;
    }
    </style>

{{ if .Site.Params.service.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <span id = "our-team" style="position:absolute; bottom:-30cm"></span>
    <section class="service section" style="background-color: {{.Site.Params.bgcolournewpages}};">
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="heading wow fadeInUp">
                        <h2 style="color:{{ .Scratch.Get "headingcolor" }}">{{ .Site.Params.service.title }}</h2>
                    {{ with .Site.Params.service.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                {{ range .Site.Params.service.serviceItem }}
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="{{ .delay }}">
                        <div class="block">
				<!--<i class="{{ .icon }}"></i>-->
                            <img src="/images/{{ .description }}.JPG" style="width:100%"/>
                            <h2 style="font-size:27px;color:#485b5d;">{{ .title }}</h2>
                            <p>{{ .description }}</p>
			    <a style = "font-size:12px;color:#e19700" href="mailto:{{ .email }}">{{ .email }}</a>
                        </div>
                    </div>
                {{ end }}

            </div>
<div class="row">
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0">
                    <div class="block">
                        <img src="/images/Alexandria Smith.JPG" style="width:100%"/>
                        <h2>Drink</h2>
                        <p>Alexandria Smith</p>
                        <a style = "font-size:12px;color:#e19700" href="mailto:mayball.drinks@cai.cam.ac.uk">mayball.drinks@cai.cam.ac.uk</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0" style="margin-left:12.5%">
                    <div class="block">
                        <img src="/images/Vanessa Chen.JPG" style="width:100%"/>
                        <h2>Ticketing</h2>
                        <p>Vanessa Chen</p>
                        <a style = "font-size:12px;color:#e19700" href="mailto:mayball.ticketing@cai.cam.ac.uk">mayball.ticketing@cai.cam.ac.uk</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0" style="margin-left:12.5%">
                    <div class="block">
                        <img src="/images/Javier Sanchez-Bonilla Martinez.JPG" style="width:100%;margin-top:7%;margin-bottom:6%"/>
                        <h2>Technical</h2>
                        <p>Javier Sanchez-Bonilla Martinez</p>
                        <a style = "font-size:12px;color:#e19700" href="mailto:mayball.technical@cai.cam.ac.uk">mayball.technical@cai.cam.ac.uk</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
