{{ if .Site.Params.service.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <span id = "service" style="position:absolute; bottom:-12cm"></span>
    <section class="service section" style="background-color: #aec1c3;">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    {{ with .Site.Params.service.title }}
                        <h2 style="color:#485b5d">{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.service.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="0">
                    <div class="block">
                        <h2>President</h2>
                        <p>Floris Blok</p>
                        <a style = "font-size:12px" href="mailto:mayball.president@cai.cam.ac.uk">mayball.president@cai.cam.ac.uk</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="0">
                    <div class="block">
                        <h2>Vice President</h2>
                        <p>Binu Perera</p>
                        <a style = "font-size:12px" href="mailto:mayball.vicepresident@cai.cam.ac.uk">mayball.vicepresident@cai.cam.ac.uk</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="0">
                    <div class="block">
                        <h2>Secretary</h2>
                        <p>Arjun Sharma</p>
                        <a style = "font-size:12px" href="mailto:mayball.secretary@cai.cam.ac.uk">mayball.secretary@cai.cam.ac.uk</a>
                    </div>
                </div>

                {{ range .Site.Params.service.serviceItem }}
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="{{ .delay }}">
                        <div class="block">
				<!--<i class="{{ .icon }}"></i>-->
                            <h2 style="font-size:27px;color:#485b5d;">{{ .title }}</h2>
                            <p>{{ .description }}</p>
			    <a style = "font-size:12px" href="mailto:{{ .email }}">{{ .email }}</a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
