    <section id="ticketing" class="section about bg-gray" style="background-color: {{ .Scratch.Get "color" }};">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft" style="width:100%">
                    <center>
                    <div class="content">
                        <div class="sub-heading">
                            <h2 style="font-family:inherit;color:{{ .Scratch.Get "headingcolor" }};font-size:28pt">Tickets</h2>
                        </div>
                        <br/>
                        <p style="font-size:15pt">Want more information? Check out <a href="{{ .Site.BaseURL }}/tickets">our ticketing page!</a></p>
                        <br/>
                        <br/>
                        <div style="width:30%;background-color:#97afb2;float:left;margin-right:5%"><br/><h2>Dining ticket add-on</h2><br/><p>[TBC]</p><br/></div>
                        <div style="width:30%;background-color:#97afb2;float:left;margin-right:5%"><br/><h2>Standard ticket</h2><br/><p>Just a standard ticket will unlock a night of endless entertainment, activities, food and drink. [Insert brief description of ents].</p><br/></div>
                        <div style="width:30%;background-color:#97afb2;float:left"><br/><h2>Queue jump add-on</h2><br/><p>Can’t be bothered standing around in queue? Want to be one of the first to get your hands on the food? For just £15 you’ll get access to the queue jump.</p><br/></div>
                        </div>

                        <p style="font-size:10pt"> <a href="/files/Terms and Conditions.pdf">Terms and conditions apply.</a></p>
                </div>
            </center>
            </div>
        </div>
    </section>