    <section id="ticketing" class="section about bg-gray" style="background-color: {{ .Scratch.Get "color" }};">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft" style="width:100%">
                    <center>
                    <div class="content">
                        <div class="sub-heading">
                            <h2 style="font-family:inherit;color:{{ .Scratch.Get "headingcolor" }};font-size:28pt">Tickets</h2>
                        </div>
                        <br/>
                        <div class="ticketbox" style="width:30%;background-color:#97afb2;float:left;margin-right:5%;min-height: 250px"><br/><h2 class="headticket" style="margin-left:5%;margin-right:5%;font-size:22pt">Dining add-on</h2><br/><p style="margin-left:5%;margin-right:5%">Our dinner experience includes four-courses, each course with a carefully selected wine pairing, and a drinks reception before you come in. Expect to dine in a setting transformed into the world of our theme!</p><br/></div>
                        <div class="ticketbox" style="width:30%;background-color:#97afb2;float:left;margin-right:5%;min-height: 250px"><br/><h2 class="headticket" style="margin-left:5%;margin-right:5%;font-size:22pt">What's Included</h2><br/><p style="margin-left:5%;margin-right:5%">A ticket unlocks unrestricted access to food, drink and entertainment throughout the entire night, for no additional fee. Look forward to vendors and performers that are a mix of familiar fan favourites and exciting, never-before-seen names.</p><br/></div>
                        <div class="ticketbox" style="width:30%;background-color:#97afb2;float:left;min-height: 250px"><br/><h2 class="headticket" style="margin-left:5%;margin-right:5%;font-size:22pt">Queue jump add-on</h2><br/><p style="margin-left:5%;margin-right:5%">Can’t be bothered standing around in queue? Want to be one of the first to get your hands on the food and drink? For just £15 you’ll get access to the queue jump.</p><br/></div>
                        </div>
                        <!--<p style="font-size:10pt"> <a href="/files/Terms and Conditions.pdf">Terms and conditions apply.</a></p>-->
                </div>
                        <br/>
                        <div>
                        <center>
                        <p style="font-size:15pt;margin-top:32%">Want more information? Check out <a href="{{ .Site.BaseURL }}/tickets">our ticketing page!</a></p>
                    </center>
                </div>
                        <br/>
            </center>
            </div>
        </div>
    </section>