{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <span id = "about" style="position:absolute; bottom: 5cm"></span>
    <section class="section about bg-gray" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="block bottom-space">
                <center><div class="col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            <h3 style="font-family:inherit;">Tickets</h3>
                        </div>
                            <p>More information about tickets will be coming soon!</p>
                    </div>
                </div></center>
            </div>
        </div>
    </section>
{{ end }}