{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <span id = "about" style="position:absolute; bottom: 5cm"></span>
    <section class="section about bg-gray" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="block bottom-space">
                <center><div class="col-sm-12 wow fadeInLeft" style="top:20px;position:relative">
                    <div class="content">
                        <div class="sub-heading">
                            <h3 style="font-family:inherit;">Tickets</h3>
                        </div>
                            <!--<p>More information about tickets will be coming soon!</p>-->
                    </div>
                    <!--<script src="https://web-cdn.fixr.co/scripts/fixr-shop-widget.v1.min.js" data-fixr-shop-id="34f880c1-fe44-4f99-8930-d1a33c34343d" data-fixr-theme="light"></script>-->
                </div></center>
            </div>
        </div>


<div class="text-center">
    <h2>FAQ</h2>
  </div>
  <section>
      <a aria-controls="faq-1" aria-expanded="false" data-toggle="collapse" href="#faq-1" role="button">
        <div class="position-relative">
          <h2>
            Lorem ipsum dolor sit amet?
          </h2>
        </div>
      </a>
      <div class="collapse" id="faq-1">
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet!</p>
      </div>

      <hr>

      <a aria-controls="faq-2" aria-expanded="false" data-toggle="collapse" href="#faq-2" role="button">
        <div class="position-relative">
          <h2>
            Lorem ipsum dolor sit amet?
          </h2>
        </div>
      </a>
      <div class="collapse" id="faq-2">
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet!</p>
      </div>

      <hr>

      <a aria-controls="faq-3" aria-expanded="false" data-toggle="collapse" href="#faq-3" role="button">
        <div class="position-relative">
          <h2>
            Lorem ipsum dolor sit amet?
          </h2>
        </div>
      </a>
      <div class="collapse" id="faq-3">
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet!</p>
      </div>

      <hr>

      <a aria-controls="faq-4" aria-expanded="false" data-toggle="collapse" href="#faq-4" role="button">
        <div class="position-relative">
          <h2>
            Lorem ipsum dolor sit amet?
          </h2>
        </div>
      </a>
      <div class="collapse" id="faq-4">
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet!</p>
      </div>

      <hr>

  </section>
{{ end }}