
        <style>
    p{
        color: #e19700;
    }
    ul{
        color: #e19700;
    }
    li{
        color: #e19700;
    }
    h3{
        color: #e19700;
    }
    h2{
        color: #e19700;
    }
    hr{
        color: #000;
        height: 1px;
        border-width: 0;
        background-color: #000;

    }
    </style>
    <style>
.asdfs a{
    text-decoration: none;
}
</style>


{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <span id = "about" style="position:absolute; bottom: 5cm"></span>

    <section class="section about bg-gray" style="background-color: {{.Site.Params.bgcolournewpages}};">
        <div class="container">
            <div class="row">
                <div class="block bottom-space">
                <center><div class="col-sm-12 wow fadeInLeft" style="top:20px;position:relative">
                    <div class="content">
                        <div class="sub-heading">
                        </div>
                            <!--<p>More information about tickets will be coming soon!</p>-->
                    </div>
                    <!--<script src="https://web-cdn.fixr.co/scripts/fixr-shop-widget.v1.min.js" data-fixr-shop-id="34f880c1-fe44-4f99-8930-d1a33c34343d" data-fixr-theme="light"></script>-->
                </div></center>
            </div>
        </div>

<div class="text-center">
    <h2 style="font-size:30pt;margin-top: 40px;margin-bottom:20px">Tickets!</h2>
    <br/>
  </div>
  <section style="width:100%">

<center><!-- Ticket Tailor Widget. Paste this into your website where you want the widget to appear. Do not change the code or the widget may not work properly. -->
<div class="tt-widget" style="border:1px solid black;background-color:#e19700"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/all-tickets/gonvillecaiusmayball2022committee/?ref=website_widget" target="_blank">Click here to buy tickets</a><br /><small><a href="https://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://cdn.tickettailor.com/js/widgets/min/widget.js" data-url="https://www.tickettailor.com/all-tickets/gonvillecaiusmayball2022committee/" data-type="inline" data-inline-minimal="true" data-inline-show-logo="false" data-inline-bg-fill="false" data-inline-inherit-ref-from-url-param="" data-inline-ref="website_widget"></script></div>
<!-- End of Ticket Tailor Widget --></center>


<div class="text-center">
    <h2 style="font-size:30pt;margin-top: 40px;margin-bottom:20px">Ticket FAQs</h2>
    <br/>
  </div>
  <section class="asdfs" style="width:100%">

<a aria-controls="faq-1" aria-expanded="false" data-toggle="collapse" href="#faq-1" role="button">
        <div class="position-relative">
          <h3>
            What kind of tickets are available and how much do they cost?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-1">
        <br/>
        <p style="font-size:14pt">The tickets available are:
        <ul style="margin-left: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;font-size:14pt;
    list-style-type: circle;">
            <li style="font-size:14pt">Caius member (Caian) - £169</li>
            <li style="font-size:14pt">Caius alumnus - £199</li>
            <ul style="margin-left: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    list-style-type: square;"><li style="font-size:14pt">There are a limited number of tickets available for Caius alumni who 
graduated in 2020 or 2021 from either a three or four year course (COVID 
Caian) - £169</li></ul>
    <li style="font-size:14pt">Caius member on the full bursary (Access) - £125</li>
    <li style="font-size:14pt">Non-Caius member of the University of Cambridge (University) - £179</li>
        </ul>
    </p>
    <br/>
    <p style="font-size:14pt">
    The add-ons available to all ticket-types are:
    <ul style="margin-left: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important; font-size: 14pt;
    list-style-type: circle;">  
        <li style="font-size:14pt">Dining ticket add-on - £43</li>
        <li style="font-size:14pt">Queue jump add-on - £16</li>
    </ul>
</p>
<br/>
<p style="font-size:14pt">
    Please note that a dining ticket add-on means you get early entrance into the ball, so there is no need to buy both add-ons.
</p>
      </div>
      <hr>

      {{ range .Site.Params.ticket.faqItem }}
            <a aria-controls="faq-{{ .question | urlize }}" aria-expanded="false" data-toggle="collapse" href="#faq-{{ .question | urlize }}" role="button">
        <div class="position-relative">
          <h3>
            {{ .question }}
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-{{ .question | urlize }}">
          <br/>
          <p style="font-size:14pt">{{ .answerline1 }}</p>
          <br/>
          <p style="font-size:14pt">{{ .answerline2 }}</p>

      </div>
      <hr>
    {{ end }}

        <a aria-controls="faq-0" aria-expanded="false" data-toggle="collapse" href="#faq-0" role="button">
        <div class="position-relative">
          <h3>
            When do tickets go on sale?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-0">
        <br/>
        <p style="font-size:14pt">Tickets will be available for Caius members from Thursday February 10th at 1:00 p.m. They will be available to other members of the University of Cambridge from Friday February 11th at 1:00 p.m. </p>
      </div>
      <hr>

    <a aria-controls="faq-2" aria-expanded="false" data-toggle="collapse" href="#faq-2" role="button">
        <div class="position-relative">
          <h3>
            How do I purchase a ticket?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-2">
        <br/>
        <p style="font-size:14pt">Tickets can be purchased through the <a href="{{ .Site.BaseURL }}/tickets">Tickets</a> page on this website. Please select the type of purchaser you are (see question 1) to be redirected to the correct page. Students will need to log in to Raven to verify their status. </p>
      </div>
      <hr>

      <a aria-controls="faq-3" aria-expanded="false" data-toggle="collapse" href="#faq-3" role="button">
        <div class="position-relative">
          <h3>
            What do I need to bring with me on the night?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-3">
        <br/>
        <p style="font-size:14pt">You will need:
        <ul style="margin-left: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;font-size:14pt;
    list-style-type: circle;">
            <li style="font-size:14pt">A valid form of ID. We accept:</li>
            <ul style="margin-left: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    list-style-type: square;"><li style="font-size:14pt">European driving licence</li>
<li style="font-size:14pt">Passport</li>
<li style="font-size:14pt">UIS Cambridge University card (commonly known as camcard)</li>
<li style="font-size:14pt">Biometric residence permit (BRP)</li>
<li style="font-size:14pt">Proof of Age Standards Scheme (PASS) card</li>
<li style="font-size:14pt">National Identity card e.g. French Carte d’Identité </li>
        </ul>
        <li style="font-size:14pt">Your paper ticket</li>
    </ul>
    </p>
</div>
<hr>

        <a aria-controls="faq-4" aria-expanded="false" data-toggle="collapse" href="#faq-4" role="button">
        <div class="position-relative">
          <h3>
            Can I change the name on my ticket?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-4">
        <br/>
        <p style="font-size:14pt">Yes. Name changes on and before March 31st 11:59 p.m. are free, and names changes 
        from April 1st at 12:00 a.m. cost £15. Name changes will not be permitted starting from June
        14th at 12:00 a.m.
        <br/><br/>

        To request a name change, please fill in the Google Form on the <a href="{{ .Site.BaseURL }}/tickets">Tickets</a> page of this 
        website. 
        <br/><br/>

        Please note that it is not possible to change ticket types.
        <br/><br/>

        Under no circumstances can tickets or guest places be sold for profit. Tickets can only be re-
        sold at their original price (see question 1). Anyone found in breach of this condition, either 
        having had or attempted to sell tickets or guest places for profit, will have all their tickets 
        cancelled without refund and will be refused admission to the Ball. </p>
      </div>
      <hr>

      <a aria-controls="faq-5" aria-expanded="false" data-toggle="collapse" href="#faq-5" role="button">
        <div class="position-relative">
          <h3>
            Can under 18s attend the ball?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-5">
        <br/><p style="font-size:14pt">Unfortunately, no. All attendees must provide a valid ID on entry.</p>
      </div>
      <hr>

            <a aria-controls="faq-6" aria-expanded="false" data-toggle="collapse" href="#faq-6" role="button">
        <div class="position-relative">
          <h3>
            Can I cancel and get a refund for my ticket?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-6">
        <br/><p style="font-size:14pt">Tickets can be cancelled for a full refund of the ticket price if notice of cancellation is given 
less than 24 hours after the purchase of tickets. Tickets cancelled after the 24-hour grace 
period will be refunded, with a £50 administration fee levied for each ticket cancelled. Please
also note that the booking fee is non-refundable.

<br/>

<br/>

Tickets cannot be cancelled starting from May 9th at 12:00 a.m. If you have purchased guest
tickets, you cannot only cancel your own ticket and not canel your guest(s)’s ticket(s). 

<br/>
<br/>

To cancel your ticket, please send an email to the ticketing officer at 
<a href="mailto:mayball.ticketing@cai.cam.ac.uk">mayball.ticketing@cai.cam.ac.uk</a>, which clearly states that you would like your ticket(s) 
cancelled. </p>
      </div>
      <hr>

    <a aria-controls="faq-7" aria-expanded="false" data-toggle="collapse" href="#faq-7" role="button">
        <div class="position-relative">
          <h3>
            How will I receive my ticket?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-7">
        <br/><p style="font-size:14pt">Tickets will be distributed by email shortly after you purchase them. Paper tickets will be 
available for collection in Easter Term. We will give you more information about collection 
closer to the time.</p>
      </div>
      <hr>

      <a aria-controls="faq-8" aria-expanded="false" data-toggle="collapse" href="#faq-8" role="button">
        <div class="position-relative">
          <h3>
            What time is the latest admission to the ball?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-8">
        <br/><p style="font-size:14pt">Entry to the ball will not be permitted after 10:30 p.m. on the night of the ball, unless there 
are exceptional circumstances that have been discussed in advance with the ticketing officer
(please email <a href="mailto:mayball.ticketing@cai.cam.ac.uk">mayball.ticketing@cai.cam.ac.uk</a>).</p>
      </div>
      <hr>

      <a aria-controls="faq-9" aria-expanded="false" data-toggle="collapse" href="#faq-9" role="button">
        <div class="position-relative">
          <h3>
            What is the dress code?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-9">
        <br/><p style="font-size:14pt">The dress code is black tie, white tie, national dress or mess dress. Sports blazers will not 
be permitted. Those who are not properly attired will not be allowed entry into the ball.</p>
      </div>
      <hr>

      <a aria-controls="faq-10" aria-expanded="false" data-toggle="collapse" href="#faq-10" role="button">
        <div class="position-relative">
          <h3>
            Who can I bring as a guest and how many guests can I bring?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-10">
        <br/><p style="font-size:14pt">Guests do not need to be a member of Caius, an alumnus of Caius nor a student of the 
University of Cambridge. This means that your guest could be a friend from Caius, a friend 
from a different college, a friend from a different university, or even family members!
<br/><br/>

If you are a Caius member (including if you are on bursary) and a Caius alumnus (including 
if you graduated in 2020 or 2021), you may bring no more than two guests.
<br/><br/>

If you are a non-Caius member at the University of Cambridge, you may bring one guest.</p>
      </div>
      <hr>

      <a aria-controls="faq-11" aria-expanded="false" data-toggle="collapse" href="#faq-11" role="button">
        <div class="position-relative">
          <h3>
            As a current member of Caius, can I buy a Cantab ticket?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-11">
        <br/><p style="font-size:14pt">Yes, you are eligible to.</p>
      </div>
      <hr>

            <a aria-controls="faq-12" aria-expanded="false" data-toggle="collapse" href="#faq-12" role="button">
        <div class="position-relative">
          <h3>
            Who can I contact with more questions?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-12">
        <br/><p style="font-size:14pt">Please refer to the complete <a href="/files/Terms and Conditions.pdf">Terms & Conditions</a> before contacting the ticketing officer with 
further questions. Otherwise, please contact our ticketing officer at 
<a href="mailto:mayball.ticketing@cai.cam.ac.uk">mayball.ticketing@cai.cam.ac.uk</a></p>
      </div>
      <hr>

<a aria-controls="faq-13" aria-expanded="false" data-toggle="collapse" href="#faq-13" role="button">
        <div class="position-relative">
          <h3>
             If I'm a staff or fellow of the college, can I purchase a ticket to the ball?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-13">
        <br/><p style="font-size:14pt">Yes! Staff and fellows are eligible for Caius alumni tickets.</a></p>
      </div>
      <hr>

<a aria-controls="faq-14" aria-expanded="false" data-toggle="collapse" href="#faq-14" role="button">
        <div class="position-relative">
          <h3>
              If I want to bring one or more guests, how do I pay for their ticket(s)?
          </h3>
        </div>
      </a>
      <div class="collapse" id="faq-14">
        <br/><p style="font-size:14pt">You are able to purchase guest tickets along with your own, so it's not a separate process and it's all under one order. Please note that you will need to pay for your own and your guest(s)'s tickets together, so that might mean you'll need to arrange for your guests to pay you back via their own means.</a></p>
      </div>
      <hr>

      <br/>

      <center><p style="font-size:14pt">More information can be found in our <a href="/files/Terms and Conditions.pdf">terms and conditions.</a></p></center>
  </section>
{{ end }}