{{ partial "header.html" . }}

{{ partial "preloader.html" . }}
        
{{ partial "navigation.html" . }}

{{ partial "hero-area.html" . }}

<!--{{ partial "about.html" . }}-->

{{ .Scratch.Set "color" "#154911" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "about" . }}

{{ .Scratch.Set "color" "#21386c" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "ticketing-main" . }}

<!--{{ .Scratch.Set "color" "#fff" }}
{{ .Scratch.Set "headingcolor" "#aec1c3" }}
{{ partialCached "service" . }}-->

{{ .Scratch.Set "color" "#45274b" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "access" . }}

{{ .Scratch.Set "color" "#5d1819" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "call-to-action" . }}

{{ .Scratch.Set "color" "#8f512b" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "contact" . }}

{{ .Scratch.Set "color" "#679950" }}
{{ .Scratch.Set "headingcolor" "#851e00" }}
{{ partialCached "charity" . }}

{{ partial "footer.html" . }}
